*{
    font-family: 'Nunito Sans', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header{
    background:#ffffff;
    height: 60px;
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
}

.container{
    max-width: 1280px;
    margin: 0 auto ;
    padding: 0 15px;
}

.header .logo img{
    width: 164px;
    height: 35px;
    left: 0;
    right: 0;
    margin: 12px auto 0;
    position: absolute;
}

.header .navbar{
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 20px;
    padding-top: 16px;
}

.header .navbar a{
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 600;
    margin-right: 50px;
}
/* slider*/
.slider{
    cursor: pointer;
}

.slider .carousel-indicators{
    display: block;
    position: initial;
    padding: 15px 0;
    background: #ffffff;
    text-align: center;
}

.slider .carousel-indicators button{
    width: 0.85em;
    height: 0.75rem;
    border-radius: 50%;
    background-color: #8d978c;
    margin: 0;
} 

.slider .carousel-indicators .active{
    background-color: rgb(250, 16, 16);
}

.carousel-control-next,
.carousel-control-prev{
    background: rgba(68, 64, 64, 0.2);

    opacity: 1;
}

.slider .carousel-control-prev{
    right: 0;
    width: 35px;
    height: 50px;
    top: calc(50% - 30px);
}

.slider .carousel-control-next{
    right: 0;
    width: 35px;
    height: 50px;
    top: calc(50% - 30px);
}

/*product*/
.product-list .main .list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(4, calc(100vw/6));
}
.product-list .main .item{
    text-align: center;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
}
.product-list .main .item img{
    width: 100%;
    display: block;  
}
.product-list .main .item span{
    width: 26px;
    margin: auto;
    font-weight: 700;
    padding-top: 15px;
    border-bottom: 2px solid #fff;
    height: 40px;
    padding-bottom: 3px;
}

.product-list .main .item-2{
    grid-column: 2 /span 2;
    grid-row: 1 /span 2;
}
.product-list .main .item-4{
    grid-column: 5 /span 2;
    
}
.product-list .main .item-6{
    grid-row: 2 /span 1;
    grid-column: 4 /span 2;
}
.product-list .main .item-10{
    grid-column: 3 /span 2;
    grid-row: 3 /span 1;
}
.product-list .main .item-11{
    grid-column: 5 /span 2;
    grid-row: 3 /span 1;
}
.product-list .main .item-14{
    grid-column: 3 /span 2;
    grid-row: 4 /span 1;
}
.product-list .main .item-1{
    background-color: #007CC2;
    color: #fff;
}
.product-list .main .item-5 span,
.product-list .main .item-15 span{
    border-bottom: 2px solid #000000;
}
.product-list .item-3,
.product-list .item-9,
.product-list .item-12,
.product-list .item-16{
    background-color: #cc0001;
    color: #fff;
}
.product-list .item-5,
.product-list .item-15{
    background-color: #EEE;
    color: black;
}
.product-list .item-7{
    background-color: #000000;
    color: #EEE;
}
.product-list .item-1 img, 
.product-list .item-3 img,
.product-list .item-5 img,
.product-list .item-7 img,
.product-list .item-9 img,
.product-list .item-12 img,
.product-list .item-15 img,
.product-list .item-16 img{
    margin-top: 15%;
    width: 60%;
}



.product-list .item-2 img, 
.product-list .item-4 img,
.product-list .item-6 img,
.product-list .item-8 img,
.product-list .item-10 img,
.product-list .item-11 img,
.product-list .item-13 img,
.product-list .item-14 img{
    width: 100%;
    height: 100%;
    display: block;
    transition: all 0.5s ease-out;

}
.product-list .item-2 img:hover, 
.product-list .item-4 img:hover,
.product-list .item-6 img:hover,
.product-list .item-8 img:hover,
.product-list .item-10 img:hover,
.product-list .item-11 img:hover,
.product-list .item-13 img:hover,
.product-list .item-14 img:hover{
    transform: scale(1.1); 
}


/*company*/
.company{

}

.company .title h1{
    color: #333;
    padding: 35px 0;
    letter-spacing: 2px;
    background: #fff;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
}

.company .main .list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 500px 500px;
}

.company .main .list .item{
    position: relative;
}

.company .main .list img{
    display: block;
    width: 100%;
    height: 100%;
}

.company .main .list .detail{
    position: absolute; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    padding: auto;
    cursor: pointer;
    
}

.company .item{
    text-align: center;
    position: relative;
    width: 100%;
    height: 100%;
}

.company .main .list .detail h2{
    margin: 0;
    top: 50%;
    padding-top: 180px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 3px;
    margin-bottom: 180px;
}

.company .main .list .detail p{
    width: 60%;
    margin: 0 auto;
    overflow: hidden;
    line-height: 20px;
    margin-bottom: 20px;
    font-weight: 500;
}

.company .main .list .detail span{
    color: #fff;
    font-weight: 700;
}

/*power*/
.power{
    cursor: pointer;
    background-image: url(../images/hinh17.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 700px;
    /* width:100%; */
}

.power .detail
{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 50px 0 0;
    text-align: center;
}

.power .detail h2{
    font-size: 25px;
    font-weight: 800;
    margin-bottom: 22px;
}

.power .detail p{
    width: 60%;
    font-size: 15px;
    margin: 0 auto 15px;
}

.power .detail span{
    font-weight: 700;
    letter-spacing: 1px;
}

/*information*/
.information{
    padding-bottom: 70px;
}

.information .title h3 {
    color: #333;
    padding: 35px 0;
    letter-spacing: 2px;
    background: #fff;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    
}
.information .main .list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 400px 400px;
}
.information .main .item{
    text-align: center;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.information .main .item img{
    width: 100%;
    height: 50%;
    display: block;  
}
.information .main .item-4 img,
.information .main .item-6 img{
    height: 100%;
}
.information .main .item-1 img,
.information .main .item-2 img,
.information .main .item-3 img,
.information .main .item-4 img,
.information .main .item-6 img{
    transition: all 0.5s ease-out;
}
.information .main .item-1 img:hover,
.information .main .item-2 img:hover,
.information .main .item-3 img:hover,
.information .main .item-4 img:hover,
.information .main .item-6 img:hover{
    transform: scale(1.1); 
    cursor: pointer;
}
.information .main .item-1 .info,
.information .main .item-2 .info,
.information .main .item-3 .info{
    height: 50%;
    bottom: 0;
    font-size: 14px;
    left: 0;
    padding: 40px 20px;
}
.information .main .item-5{
    background-color: #f2f2f2;
}

.information .main .item-5 img{
    height: 100%;
    width: 100%;
}
.information .main .item-5 .twitter-icon{
    padding: 10px ;
    text-align: right;
    font-size: 20px;

}
.information .main .item-5 .twitter-content{
    bottom: initial;
    padding: 30px;
    position: absolute;
    text-align: left;
    top: 50%;
    transform: translateY(-50%);
}
.information .main .item-5 .twitter-info{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    font-size: 14px;
}
.information .main .item-5 .twitter-info-box{
    font-size: 14px;
    color: #337ab7;
    display: inline-block;
    padding-left: 18px;
    vertical-align: top;

}

.information .main .item-5 .twitter-copy{
    display: block;
    font-family: AvenirNext-light;
    font-size: 24px;
    font-weight: lighter;
    margin: 10px 0;
}

.information .main .item-5 a{
    text-decoration: none;
    color: #337ab7;
}

.information .main .item span{
    font-size: 12px;
    text-decoration: double;
    color: #007CC2;
}
.information .main .container::before{
    border-bottom: 20px solid #f9f9f9;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    content: "";
    height: 0;
    left: 50%;
    position: absolute;
    top: 0;
    transform: translate(-50%,-100%);
    width: 0;
}

/*footer*/

.footer{
    background-color: #e8e8ed;
    width: 100%;
}

.footer .container{
    padding-left: 0;
    padding-right: 0;
    width: 95%;
}

.footer .container .col{
    float: left;
    width: calc(100% / 3);
    padding: 40px 15px;
}

.footer .container .row-content ul{
    cursor: pointer;
    padding: 0;
}

.footer .container h4{
    font-family: AvenirNext-Bold;
    font-size: 16px;
    font-weight: 600;
    color: #8f8f8f;
    margin-top: 37px;
}


.footer .container li{
    list-style-type: none;
    line-height: 32px;
    font-family: AvenirNext-Medium;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 10px;

}

.footer .container p{
    font-weight: 200 !important;
    color: #8f8f8f;
    font-size: 12px;
}

.footer .row-icon{
    clear: both;
    margin: 0!important;
    padding: 0!important;
    padding-top: 50px;
}

.footer .row-icon .col-icon{
    padding-top: 40px;
    text-align: center;
}

.footer .row-icon .col-icon a{
    text-decoration: none;
}

.footer .row-icon .col-icon img{
    padding-left: 10px;
}

.footer .col-contact{
    text-align: center;
    padding-top: 20px;
    line-height: 3;
}

.footer .col-contact p{
    margin: 0;
    font-size: 14px;
}

.footer .col-contact a{
    font-size: 14px;
    color: #337ab7;
}